<div class="index flex-column">
    <mat-toolbar color="primary" class="header">
        <span class="home-button" routerLink="">RENTAL MANAGEMENT SYSTEM</span>
        <span class="example-spacer"></span>
        <button *ngIf="route.includes('catalog')" mat-button [matMenuTriggerFor]="menu">
            Locations<span class="down-arrow material-icons">keyboard_arrow_down</span>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let location of locations"
                    [routerLink]="['/catalog', { location: location }]"
                    mat-menu-item>{{location}}</button>
        </mat-menu>
    </mat-toolbar>
    <div class="content-section">
        <router-outlet></router-outlet>
    </div>
    <mat-toolbar color="primary" class="footer">
        <span class="text-center">All Rights Reserved</span>
    </mat-toolbar>
</div>
